body{
    background-color: lightgray;
    font-family: Arial;
}

h1{
    text-align: center;
    color: black;
}

textarea{
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 300px;
    height: 100px;
}

.addbtn{
    display: block;
    margin: 10px auto;
    background: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.note{
    background: white;
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

   
}

.note p {
    margin: 0;
    overflow-wrap: break-word;
}


.delbtn{
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}